@import "@/styles/sass/colors";
@import "@/styles/sass/mixins";

.SignIn {
  padding: 2rem;
  width: 25rem;
  height: 25rem;
  border-radius: 0.3rem;
  flex-direction: column;
  background-color: white;
  @include flex(center, space-between);

  &-title {
    width: 10rem;
    @include flex(center, space-between);

    &-icon {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      @include flex(center, center);
      background-color: rgba(135, 135, 255, 0.3);
    }

    &-title {
      color: #232350;
    }
  }
}

.FormSignIn {
  width: 100%;
  height: 75%;
  flex-direction: column;
  @include flex(center, space-between);

  &-input {
    width: 100%;
    padding: 1rem;
    border-radius: 0.3rem;
    background-color: #f5f5f5;
    border: 1px solid #d2d2d2;
  }

  &-submit {
    width: 100%;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.3rem;
    background-color: $secondary-color;
  }
}

.forgot {
  color: #232350;
  align-self: center;
}
