$text-color: white;
$primary-color: rgb(0, 0, 60);
$secondary-color: #3f4be1;
$third-color: rgb(0, 0, 45);
$border-percentage-color: #3f91ff;
$secondary-color-op: rgba(20, 21, 43, 0.5);
$border-color: rgba(20, 21, 100, 0.7);
$orange: rgb(250, 195, 20);
