@mixin flex($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin button($background) {
  color: white;
  padding: 10px 0;
  min-width: 100px;
  border-radius: 25px;
  background-color: $background;

  @media screen and (max-width: 700px) {
    min-width: 115px;
  }
}
