@import "@/styles/sass/colors";
@import "@/styles/sass/mixins";
@import "@/styles/sass/variables";

.Navbar {
  top: 0;
  width: 100%;
  z-index: 90;
  position: fixed;
  padding: 2rem 5rem;
  transition: all 0.5s ease;
  background: linear-gradient(
    to bottom,
    rgba(20, 26, 50, 0.8) 1%,
    rgba(20, 26, 50, 0) 100%
  );
  @include flex(center, space-between);

  &.active {
    background: none;
    padding: 1rem 5rem;
    background-color: $primary-color;
  }

  &-right {
    width: 20rem;
    @include flex(center, space-between);
    &-logo {
      width: 7rem;
    }
    &-link {
      color: white;
      font-size: 1.1rem;
      text-decoration: none;
    }
  }
}
