@import "@/styles/sass/colors";
@import "@/styles/sass/mixins";
@import "@/styles/sass/variables";
.Navbar {
  top: 0;
  width: 100%;
  z-index: 90;
  position: fixed;
  padding: 2rem 4rem;
  transition: all 0.5s ease;
  background: linear-gradient(
    to bottom,
    rgba(20, 26, 50, 0.8) 1%,
    rgba(20, 26, 50, 0) 100%
  );
  @include flex(center, space-between);

  &.active {
    background: none;
    padding: 1rem 4rem;
    background-color: $primary-color;
  }

  &-right {
    position: relative;
    width: 20rem;
    list-style: none;
    @include flex(center, space-between);
    &-logo {
      width: 7rem;
    }
    &-link {
      color: white;
      cursor: pointer;
      font-size: 1.1rem;
      text-decoration: none;
    }
  }

  &-buttons {
    width: 33rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-movies,
  &-series {
    position: relative;
    &:hover {
      .dropdown-menu {
        display: block;
      }
    }
  }
}

.dropdown-menu {
  display: none;
  ul {
    padding: 1rem;
    list-style: none;
    position: absolute;
    white-space: nowrap;
    border-radius: 0.2rem;
    background-color: $secondary-color;
    li {
      margin-bottom: 0.4rem;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}
