@import "@/styles/sass/variables";

.Search {
  height: 3rem;
  display: flex;
  border: $border;
  padding: 0 1.5rem;
  align-items: center;
  border-radius: 5rem;
  justify-content: space-between;
  background-color: $secondary-color-op;

  input {
    height: 100%;
    color: white;
    font-size: 1rem;
    border-radius: 0.5rem;

    &::placeholder {
      font-size: 1rem;
      color: rgba(184, 184, 184, 1);
    }

    button {
      display: flex;
      align-items: center;
    }
  }

  @media screen and (max-width: 700px) {
    width: 250px;
    input {
      width: 100%;
    }
  }
}
