@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Noto Sans JP", sans-serif;
  background-color: rgba(8, 15, 40, 1);
}
body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-thumb {
  padding: 2px;
  border-radius: 2px;
  background-color: #3f4be1;
}

#root {
  height: 100vh;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
}

.icon {
  color: white;
}
