.Popular {
  margin: 3rem;
  &-title {
    margin-bottom: 1rem;
    color: white;
  }
}

.Swiper {
  &-img {
    width: 220px;
    object-fit: cover;
    border-radius: 0.5rem;
  }
}

.swiper-wrapper {
}

.swiper {
  display: flex;
}
